#champs, #valider {
  width: 50%
}

#signature, label {
  letter-spacing: 1px
}

body {
  background-color: #F2F2F2;
  color: #000;
  width: 85%;
  margin: 0 auto;
  text-align: left;
  font-family: sans-serif;
  font-size: 12px
}

#nomappli, #signature, button, input, label, select, textarea {
  font-family: Lato, Calibri, Arial, sans-serif;
}


#nomappli {
  font-size: 30px;
  text-align: center;
  color: #000;
  background-image: url(img/signature-logo.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  height: 88px;
  margin: .3em auto;
  padding-top: 50px
}

#choix_couleur_logo {
  display: none !important;
}

#choix_couleur_logo label {
  position: relative;
  top: -2px;
  left: 2px
}

#choix_couleur_logo input {
  margin-left: 0
}
#liens-sociaux {
  display: none;
}

#champs {
  float: left;
  clear: left;
  margin-right: 20px
}

#signature {
  clear: right;
  f/*ont-size: 1.5em*/
}

input, select, textarea {
  width: 99%;
}

#ajouter_po {
  text-decoration: none
}

input#email {
  text-transform: lowercase
}

#explications {
  font-size: 1.2em
}

#explications ul {
  list-style: square inside
}

#pied {
  clear: both
}

#pied a {
  color: #4682b4
}

.spacer-right {
  clear: right;
  width: 100%;
  height: 0
}

.spacer-left {
  clear: left;
  width: 100%;
  height: 0
}

.spacer {
  clear: both;
  height: 0
}

.hasPlaceholder {
  color: #777
}

button, input, select, textarea {
  line-height: 1.5;
  font-size: 1.2em;
  color: #787878;
  background: #fff;
  padding: 12px 0 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc
}

#valider, #valider:hover, .copytoclipboard {
  color: #fff;
  border-color: #4e555b;
  cursor: pointer
}

label {
  padding: 40px 3px 5px 2px;
  font-size: 1.5em;
  cursor: pointer
}

#previsu {
  width: 100% !important;
}

#valider {
  background-color: #545b62;
  transition: background, .5s linear;
  -webkit-transition: background, .5s linear
}

#valider:hover {
  background-color: #6C757D
}

.copytoclipboard {
  background-color: #545b62;
  transition: background, .5s linear;
  -webkit-transition: background, .5s linear;
  line-height: 1.5;
  font-size: 1.1em
}

#signature-interne-wrap {
  /* display: none; */
  max-width: 100%
}

@media all and (max-width:1024px) {
  #champs, #signature {
    width: 100%
  }
  #champs {
    margin-right: 0
  }


  #explications {
    float: left;
    clear: left;
    width: 100%
  }
  #previsu {
    width: 99% !important
  }
  #valider {
    width: auto
  }
}
