/* Cacher du menu les pages vides */
/* Pre-header partages académiques */ #nav-item-zot {
    display: none;
}
#Hedone > div > ul > li:nth-child(3) > ul > li:nth-child(4) > a > i {
    margin-left: 0;
    margin-right: 2px;
}
.site-branding img {
    padding: 5px
}
.navbar-right {
    height:100%;
}
div.pre-header{
    background-color: rgb(65, 65, 65);
}
div.pre-header-fakenav{
    margin-left: auto;
    margin-right: 0;
    width: fit-content!important;
}
.pre-header-link {
    display: inline-block;
    padding-right: 20px;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #c7c7c7;
}
.pre-header-link:hover{
    color: white;
    text-decoration: none;
}
.text-top-white{
    color: rgba(255,255,255,0.5)!important;
}
.text-mid-white{
    color: rgba(255,255,255,0.7)!important;
}
.bg-black{
    background-color: black;
}
.quote.signature_resp{
    background-image: url(../img/accueil/signature.png);
    background-size: auto;
}

.owl-next , .owl-prev{
    display:none !important;
}
.container-frise-cours {
    overflow-x: hidden; /* Cache le débordement horizontal */
    display: flex; /* Assure que le contenu est sur une seule ligne */
    align-items: center; /* Centre verticalement le contenu si nécessaire */
    max-width: 100%; /* Limite la largeur du conteneur */
    margin: 20px 0; /* Ajoute un peu d'espace autour du conteneur */
}
.frise-cours {
    transition: transform 0.5s ease-in-out; /* Animation fluide pour le défilement */
    display: block; /* Assure que l'image n'a pas d'espace supplémentaire en dessous */
    max-width: none; /* S'assure que l'image peut dépasser la largeur de son conteneur */
}
button.btn-defilement {
    cursor: pointer; /* Change le curseur pour indiquer une action */
    padding: 10px; /* Ajoute un peu d'espace autour du texte */
    margin-bottom: 10px; /* Ajoute un peu d'espace en dessous du bouton */
}
.pointer-svg {
    cursor: pointer !important;
}

.custom-popover {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 1060;
}

.custom-popover-content {
    font-size: 14px;
    color: #333;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #fcc900 !important;
}

.timeline-badge.main {
    background-color: #000 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
.block-default-main-color{
    background-color: #fcc900;
    color: white;
}
.block-default-main-color-textblack{
    background-color: #fcc900;
    color: black;
}
div.overlay-hide-CTA {
    z-index: 3000;
    min-height: 600px;
    width: 96%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 2%;
    /*backdrop-filter: blur(3px); */
    /*mask: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); Filter application*/
}
div.overlay-hide-FAQ {
    z-index: 3000;
    min-height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(247,247,247,0) 0%,rgba(247,247,247,0.5) 20%, rgba(247,247,247,0.9) 70%,#F7F7F7 100%);
    display: flex;
	flex-wrap: nowrap;
    position: absolute;
    bottom: 0px;
    left: 0%;
    backdrop-filter: blur(1px);
    mask: linear-gradient(transparent, black 60%);
}
div.overlay-hide-FAQ div {
    width: 100%;
    align-self: flex-end;
    display: flex;
}
div.overlay-hide-FAQ div *{
    width: fit-content;
    position: relative;
    bottom: 10px;
    margin: auto;
}
.overlay-container {
    position: relative;
}
div.overlay-hide-CTA * {
    align-self: flex-end;
    transform: translateY(-25px);
}
ul.list-arrow{
    list-style-type: "➝  ";
}
.label-main {
    margin-right: 5px;
}
.opacity-05 {
    opacity: 0.5;
}

.hover-btn-rotate:hover div a {
    -webkit-transform: translate(4px, -2px) scale(1.1) rotate(-3deg);
    transform: translate3d(4px, -2px) scale(1.1) rotate(-3deg);
}
a.footer-text-span:hover {
    color:#fcc900
}
div.hero-small {
    padding-top: 20vh;
}
li.block-default-main-color-textblack, ul.list-head-main > li > strong{
    font-family: Lato, sans-serif;
    font-size: 11px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
    display: block;
}
ul.list-head-main li {
    color: #343434;
}
div.flex.row {
    display: flex;
}
div.v-align-items {
    display: flex;
    align-items: center;
}
div.v-align-items * {
    align-self: center;
}
.label-primary {
    background-color: #000;
}
.criteres-tableau > div.list-group-item h4 {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline solid #fcc900 1px; 
}
.criteres-tableau > div.list-group-item p {
    font-weight: 300;
}
div.row.background-main-color {
    background-color: #fcc900;
}
span.space{
    display: inline;
    width: 10px;
    height: 1px;
    background-color: transparent!important;
    margin: none!important;
    padding: 0px!important;
}
div#tab-2.matieres {
    padding-right: 0px;
    padding-left: 0px;
}

.col-left-bordered {
    border-left: 3px solid #FCC926;
    margin-left: 5%;
}
.col-right-bordered {
    border-right: 3px solid #FCC926;
    margin-right: 5%;
}
/* Colonnes égales */
div.row.eq-col {
    display: table;
}

div.row.eq-col div {
    float:none;
    display:table-cell;
    vertical-align: middle;
}

span.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #FCC926; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FCC926; }
}
@media only screen and (max-width: 768px) {
    .slider-text-mid {
        font-size: 1.5em; /* Modifier la taille de la police pour les écrans plus petits */
        word-wrap: normal;
    }
}
div.typewriter-row {
    min-height:240px;
    display:grid;
    width:100%;
}
@media only screen and (max-width: 768px) {
    div.typewriter-row{
        min-height: 200px;
    }
}
/* Fix problème de padding pour les paragraphes */
div.row p {
    padding-right: 4%;
    padding-left: 4%
}
@media only screen and (min-width: 768px) {
    .img-1080 {
        max-width: 1080px;
    }
}
section#modalites_pedagogiques div.row.eq-col div {
    max-width: 960px;
}
section#modalites_pedagogiques div.row {
    margin-right: auto;
    margin-left: auto;
}
/* Fix Menu Responsive */
@media only screen and (max-width: 1200px) {
    ul.hedone-menu > li > ul.sub-menu li a {
        background-color: transparent;
    }
    .hedone-menu-container.open > div.navbar-right > ul > li.menu-item > a:hover {
        color: #000000
    }
}

.progress_ove.progress {
    height: 1.2em;
    border-radius: 100px;
}
span.bold_not_strong {
    font-weight: 600;
}
span.progress_ove_caption {
    color: #fff;
    font-size: small;
    font-weight: 400;
    position: absolute;
    left: 5%;
}
.progress-bar-graduation {
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    color: #333
}
#last-graduation.progress-bar-graduation {
    border-right: none;
}
#graduation_score, #graduation_score .progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#graduated_score {
    margin-bottom: 0px;
    border: 1px solid #ccc
}
.progress-bar-graduated {
    background-color: #fff;
}
.progress-bar-graduated.graduated_1 {
    background-color: rgba(92,184,92,0.3);
}
.progress-bar-graduated.graduated_2 {
    background-color: rgba(92,184,92,0.5);
}
.progress-bar-graduated.graduated_3 {
    background-color: rgba(92,184,92,0.7);
}
.progress-bar-graduated.graduated_4 {
    background-color: rgba(92,184,92,0.9);
}
/* Fix animated opacity 0 responsive */
@media (max-width: 768px) {
    .animated.fadeInRight, .animated.fadeInLeft {
        opacity: 1;
    }
}

/* FLIP CARDS */
/* FLIP CARDS */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
    justify-content: center;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: calc(25% - 10px); /* Ajustement pour 4 cartes par ligne avec un peu d'espace */
    margin: 5px; /* Espacement autour des cartes */
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
    perspective: 1000px;
    align-items: center;
}

/* Ajustements pour les tablettes */
@media (max-width: 768px) {
    .flip-card {
        width: calc(50% - 10px); /* Ajustement pour 2 cartes par ligne */
    }
}

/* Ajustements pour les téléphones mobiles */
@media (max-width: 480px) {
    .flip-card {
        width: calc(100% - 10px); /* Ajustement pour 1 carte par ligne */
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 5px;
}
.flip-card:hover .flip-card-inner, .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    box-shadow: 0px 4px 7px rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    min-height: 300px; /* Assurez-vous que cela est suffisant pour le contenu le plus long */
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Ajustez selon le besoin */
}

.flip-card-front {
    background-color: #fafafa;
    color: black;
}
.flip-card-back {
    background-color: #fafafa;
    color: black;
    transform: rotateY(180deg);
}
.flip-button {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 20px;
}
h4.head-card {
    text-transform: uppercase;
    font-weight: 400;
}
.flip-card-inner p {
    font-weight: 300;
}
.flip-card-back p {
    font-size: small;
}
#historique #svgPopover.custom-popover {
    max-width: 50%;
    width: fit-content;
    position: relative;
    margin: auto;
    text-align: center;
    transform: translateY(-30px);
}
g.annee {
    cursor: pointer;
}


/* process /humanites-numerique */
.process-block-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 300px;
}
.process-arrow-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
.process-arrow {
    background: none;
    border: none;
    cursor: pointer;
}
.process-card {
    display: none;
    position: relative;
    margin: auto;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease-in-out;
}
.process-card--active {
    display: block;
    transform: translateX(0);
}
.process-card--next {
    transform: translateX(100%);
}
.process-card--prev {
    transform: translateX(-100%);
}
.process-card__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-card__number {
    font-size: 2em;
    margin-bottom: 10px;
}
.process-counter {
    text-align: center;
    margin-top: 20px;
}
.process-counter__list {
    list-style: none;
    padding: 0;
    display: inline-flex;
}
.process-counter__item {
    margin: 0 5px;
}
.process-counter__btn {
    background: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.process-img {
    max-height: 300px;
}

#master-impact {
    border: 1px solid #333;
    border-radius: 30px;
    padding: 1em 2em;
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.3);
}

#read-more-1, #read-less-1, #read-more-2, #read-less-2 {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

#read-more-1:hover, #read-less-1:hover, #read-more-2:hover, #read-less-2:hover {
    text-decoration: underline;
}
div.testimonial{
    margin-top: 30px;
}
.img-testimonial {
    width: 200px; /* Taille de l'image */
    height: 200px; /* Taille de l'image */
    border-radius: 50%; /* Rendre l'image ronde */
    object-fit: cover; /* Couper l'image pour qu'elle remplisse le conteneur */
    object-position: top; /* Recadrer depuis le haut */
    overflow: hidden; /* Cacher les parties débordant du conteneur */
}
#t1 > div > div.col-md-3 > img {
    transform: scaleX(-1);
}
.testimonial > div > div.col-md-3 {
    height: 100%;
}
.testimonial > div > div.col-md-3 > img {
    border-radius: 50%;
    background-color: rgba(252, 201, 38, 0.3);
    border: solid 2px #FCC926;
}
.btn-default.disabled:hover {
    background-color: #000;
    color: #fff;
}
.before-disable-tooltip {
    cursor: help;
}
.save-button:hover {
    text-decoration: none;
    background-color: #fcc900;
}
.save-button {
    position: fixed;
    right: 95px;
    bottom: 45px;
    z-index: 1132;
    display: block!important;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background-color: #272727;
    background-position: 50% 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    -webkit-transition: background-color 300ms ease, width 0.5s;
    transition: background-color 300ms ease, width 0.5s;
    padding: auto;
}
.save-button:before {
    color: white;
    position: relative;
    display: block;
    font-size: 31px;
    top: 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.options {
    display: none;
    margin-top: 10px;
    position: fixed;
    right: 95px;
    bottom: 100px;
    z-index: 1132;
    text-decoration:none;
}
.expanded + .options {
    display: block;
}
.option-button {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    background-color: #272727;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}
.option-button:hover {
    background-color: #fcc900;
    text-decoration: none;
}
.option-button i {
    margin-right: 10px;
}