<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-logo">
            </div>
            <!-- <div class="footer-social-block">
                <a href="#" class="w-inline-block social-wrap">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="w-inline-block social-wrap">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" class="w-inline-block social-wrap">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="w-inline-block social-wrap">
                    <i class="fa fa-youtube"></i>
                </a>
            </div> -->
            <div class="footer-text">
                © Équipe pédagogique du <span class="footer-text-span">Master Humanités Numériques</span>,
                <br>au sein de l'<a href="https://itic.univ-montp3.fr/" target="_blank" class="footer-text-span">ITIC</a> à l'<a href="https://univ-montp3.fr/" class="footer-text-span">Université Paul Valéry Montpellier 3</a>.
                <br>Tous droits réservés. <span class="year_footer"></span>
                <br><br>Conçu par Axelle Abbadie avec l'aide de François Perea et Lucie Alidières.
            </div>
            <!-- Année footer dynamique -->
            <script>
                // Sélectionne l'élément span avec la classe "year_footer"
                var yearFooter = document.querySelector('span.year_footer');
                // Crée un nouvel objet Date contenant la date actuelle
                var currentDate = new Date();
                // Obtient l'année actuelle à partir de l'objet Date
                var currentYear = currentDate.getFullYear();
                // Met à jour le contenu textuel de l'élément span avec l'année actuelle
                yearFooter.textContent = currentYear;
            </script>
        </div>
    </div>
</footer>
