    <!-- PRELOADER
    <div id="royal_preloader"></div>
    -->

    <!-- TOP SCROLL -->
    <div id="top-home-scroll"></div>
    <a href="#top-home-scroll" class="scroll-to-top-arrow-button"></a>

    <!-- AJAX LOADER -->
    <div id="ajax-loader" class="loader loader-default" data-half="" data-text="Chargement..."></div>
    <!--
    -->

    <!-- IS MOBILE HACK -->
    <div id="isMobile"></div>

    <!-- HEADER -->
    <header>
        <div class="animatedParent animateOnce">
            <div class="nav-back animated fadeInDown" style="padding-top:0">
                <div class="pre-header container-fluid">
                    <div class="pre-header-fakenav">
                        <a class="pre-header-link" id="nav-item-doc" href="/docs">Documentation</a>
                        <!-- <a class="pre-header-link" id="nav-item-zot" href="#">Partages académiques</a> -->
                        <a class="pre-header-link" id="nav-item-acc" href="/accessibilite">Questionnaire accessibilite</a>
                    </div>
                </div>
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                                <div class="hedone-menu-header">
                                    <div class="nav-button">
                                        <i class="fa fa-bars"></i>
                                    </div>
                                    <!-- SITE LOGO -->
                                    <div class="site-branding">
                                        <div style="display: flex;">
                                            <a href="https://www.univ-montp3.fr/">
                                                <img src="https://www.univ-montp3.fr/sites/default/files/logo-orange-vf2.png" alt="université logo"/>
                                            </a>
                                            <a href="/">
                                                <img src="/assets/img/site-logo.png" alt="brand logo"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- PRIMARY MENU -->
                                <div id="Hedone" class="hedone-menu-container">
                                    <div class="navbar-right">
                                        <ul class="hedone-menu">
                                            <li class="menu-item current-menu-item">
                                                <a href="/"><i class="fa fa-home"></i></a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="https://itic.www.univ-montp3.fr/fr/formation/masters/master-humanum">À propos<i class="fa fa-external-link" style="font-size:1em; margin-left:3px" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="menu-item menu-item-has-children page-ancestor menu-ancestor menu-parent page-parent">
                                                <a href="#">Formation</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="/admission-programme">Admission et programme</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="/pedagogie-avenir">Pédagogie et avenir</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="/stage-memoire">Stage et mémoire</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="https://www.linkedin.com/groups/8389284/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                            Communauté d'alumni</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children page-ancestor menu-ancestor menu-parent page-parent">
                                                <a href="#">Culture</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="/humanites-numeriques">Humanités Numériques</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="/scientifique">Scientifique</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="/professionnel">Professionnelle</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/faq">FAQ</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- HEADER END -->
    <saveButton></saveButton>
