<a class="save-button fa fa-floppy-o" data-toggle="popover" title="" data-content="Sauvegarder cette page" onclick="expandButton()"></a>
<div class="options">
    <!--<a class="option-button" id="save-print" onclick="printPage()">
        <i class="fa fa-print" aria-hidden="false"></i>Imprimer la page
    </a>-->
    <a class="option-button" id="save-email" onclick="emailPage()">
        <i class="fa fa-envelope-open" aria-hidden="false"></i>Envoyer par email
    </a>
    <a class="option-button" id="save-fav" onclick="addToFavorites()">
        <i class="fa fa-star" aria-hidden="true"></i>Ajouter aux favoris
    </a>
</div>