<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Résultats du Questionnaire</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/molecule.png">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/hedone.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/animations.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/owl.carousel.custom.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css"/>
    <!-- Include header & footer -->
    <script src="/assets/include-header.js" defer></script>
    <script src="/assets/include-footer.js" defer></script>
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .panel:focus {
            box-shadow: none;
        }
    </style>
</head>
<body class="royal_preloader">
    <!-- HEADER -->
    <header></header>
    <!-- HEADER END -->
    <saveButton></saveButton>

    <!-- HERO SECTION -->
    <section class="white-background">
        <div class="container hero-small">
            <div class="row">
                <div class="animatedParent animateOnce hero-small">
                    <div class="slider-text-top animated go">Résultats</div>
                    <div class="slider-text-mid animated fadeInShake delay-750 go">du Questionnaire</div>
                    <div class="slider-line animated fadeInUp delay-750 go"></div>
                    <div class="slider-text-bottom animated fadeInUp delay-1250 go">Votre rapport personnalisé</div>
                    <div class="slider-text-date animated fadeInUp delay-1250 go">Généré le : {{ $today.format("dd/MM/yyyy") }}</div>
                </div>
            </div>
        </div>
        <hr>
    </section>

    <!-- MESSAGE SECTION -->
    <section class="padding-top-bottom-120px gray-background animation-overflow">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="animatedParent animateOnce">
                        <h3 class="head-h3">Résultats du Questionnaire</h3>
                        <p class="head-subtitle">Analyse</p>
                    </div>
                    <canvas id="resultsChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </section>

    <!-- ACCORDION SECTION -->
    <section class="padding-top-bottom-120px white-background">
        <div class="container">
                        <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="animatedParent animateOnce">
                        <h3 class="head-h3">Conseils personnalisés</h3>
                        <p class="head-subtitle">Détails</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="accordionConseils">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer"></footer>

    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="/assets/js/plugins.js" type="text/javascript"></script>
    <script src="/assets/js/owl.carousel.min.js" type="text/javascript"></script>
    <!-- MAIN JS -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <!-- STOCKAGE RÉPONSE POUR GÉNÉRATION CONSEILS -->
    <script>
        // Stockage du JSON dans une variable JavaScript
        const questionnaireData = {{ JSON.stringify($json) }};
    </script>
<!-- Génération des conseils -->
    <script type="module">
        import '/assets/js/conseils_gen.js';
    </script>
    <!-- Chart Script -->
    <script>
        var scores = [70, 60, 20, 60, 20, 50, 80]; // Remplacez ces valeurs avec celles dynamiquement chargées
    
        var ctx = document.getElementById('resultsChart').getContext('2d');
        var resultsChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: [
                    'Attitude et Perception',
                    'Normes d\'accessibilité',
                    'Philosophie d\'Enseignement',
                    'Outils Numériques',
                    'Conception des Supports',
                    'Évaluation Inclusive'
                ],
                datasets: [{
                    label: 'Votre score',
                    data: scores,
                    backgroundColor: 'rgba(241, 177, 32, 0.2)',
                    borderColor: 'rgba(241, 177, 32, 1)',
                    pointBackgroundColor: 'rgba(241, 177, 32, 0.2)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(255, 99, 132, 1)'
                }]
            },
            options: {
                scale: {
                    angleLines: {
                        display: true
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    },
                    r: {
                        min:0,
                        max:100
                    }
                }
            }
        });
    
        // Fonction pour charger les données dynamiquement
        function loadChartData() {
            // Utilisation de questionnaireData déjà chargée dans la page
            scores = [
                questionnaireData.body.fields[62].value,
                questionnaireData.body.fields[63].value,
                questionnaireData.body.fields[64].value,
                questionnaireData.body.fields[65].value,
                questionnaireData.body.fields[66].value,
                questionnaireData.body.fields[67].value,
            ];
            resultsChart.data.datasets[0].data = scores;
            resultsChart.update();
        }
    
        // Charger les données lors du chargement de la page
        document.addEventListener('DOMContentLoaded', loadChartData);
    </script>
    <!-- Bootstrap JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="/assets/js/plugins.js" type="text/javascript"></script>
    <script src="/assets/js/owl.carousel.min.js" type="text/javascript"></script>
    <!-- MAIN JS -->
    <script src="/assets/js/main.js" type="text/javascript"></script>

    <!-- Script pour l'accordéon -->
    <script>
        $(document).ready(function () {
            $('.collapse').on('show.bs.collapse', function () {
                $(this).parent().find('.collapse.in').collapse('hide');
            });
        });
    </script>
      <!-- DEBUG PRIMARY MENU -->
    <script>
        window.onload = function() {
    /*
     * primary menu
     */
    //click outside menu
    $("html").on('click', function(event) {
        if ($(event.target).closest('.hedone-menu-container, .sub-menu').length === 0) {
            //close all zero level sub-meu class
            $('ul.hedone-menu > li.menu-item-has-children > ul.sub-menu').removeClass('open');
            //reset all zero level caret
            $('ul.hedone-menu > li.menu-item-has-children > a > i').removeClass('fa-caret-up');
        }
    });
    //nav-button
    $('.nav-button').on('click', function(e) {
        e.preventDefault();
        $(this).toggleClass('open');
        $('.hedone-menu-container').toggleClass('open');
    });

    function initMainNavigation(container) {
        var screenReaderText = {
            expand: "expand child menu",
            collapse: "collapse child menu"
        };

        // Add dropdown toggle that displays child menu items.
        var dropdownToggle = $('<i />', {
            'class': 'fa fa-caret-down',
            'aria-expanded': false,
            'title': screenReaderText.expand
        }).append($('<span />', {
            'class': 'screen-reader-text',
            text: screenReaderText.expand
        }));

        // Check and add caret only if it doesn't already exist
        container.find('ul.hedone-menu .menu-item-has-children > a').each(function() {
            if ($(this).find('i.fa-caret-down').length === 0) {
                $(this).append(dropdownToggle.clone());
            }
        });

        // Add menu items with submenus to aria-haspopup="true".
        container.find('.menu-item-has-children').attr('aria-haspopup', 'true');

        // Toggle buttons and submenu items with active children menu items.
        container.find('.dropdown-toggle').on('click', function(e) {
            var _this = $(this),
                screenReaderSpan = _this.find('.screen-reader-text');

            e.preventDefault();
            _this.toggleClass('toggled-on');
            _this.next('.children, .sub-menu').toggleClass('toggled-on');

            _this.attr('aria-expanded', _this.attr('aria-expanded') === 'false' ? 'true' : 'false');
            screenReaderSpan.text(
                screenReaderSpan.text() === screenReaderText.expand ?
                screenReaderText.collapse :
                screenReaderText.expand
            );
        });

        // Parent li caret element event
        $('ul.hedone-menu > li.menu-item-has-children > a').on('click', function(e) {
            var _this = $(this),
                activeSubMenu = _this.next('.sub-menu'),
                caret = _this.find('i.fa-caret-down');

            if (activeSubMenu.length) {
                e.preventDefault();
                // Close all zero level submenu except active & reset caret
                $('ul.hedone-menu > li.menu-item-has-children > ul.sub-menu').not(activeSubMenu).removeClass('open');
                $('ul.hedone-menu > li.menu-item-has-children > a > i').not(caret).removeClass('fa-caret-up');

                // Toggle caret & active submenu
                caret.toggleClass('fa-caret-up');
                activeSubMenu.toggleClass('open');
            }
        });

        // Sub-menu caret event
        $('ul.hedone-menu ul.sub-menu li a i').on('click', function(e) {
            e.preventDefault();
            // Toggle caret
            $(this).toggleClass('fa-caret-up');
            // Toggle next sub-menu
            $(this).parent().next('.sub-menu').toggleClass('open');
        });
    }

    initMainNavigation($('#Hedone'));
    //end primary menu
};

    </script>
          <!-- SAVE BUTTON -->
        <script src="/assets/js/save-button.js"></script>
    </body>
</html>